
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;469;500;600;700&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: 'Oswald', sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    opacity: 1;
    transition: opacity 0.24s ease-in-out 0s;
    visibility: visible;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.Header{
	background-color: #000;
    position: relative;
}
form input{
    background-color: #fff;
    border: 1px solid #ced4da;
    line-height: 28.8px;
    outline: medium none;
    padding: 5px 15px;
    transition: all 0.4s ease 0s;
    width: 100%;
    height: 34px;;
    border-radius: 6px;

}

.nav-bar ul .hovvy:hover .category{
    transition: 0.5s;
    opacity: 1;
    
    transform: scaleY(1);
    z-index: 243;


}
.nav-bar{
	display: flex;
	align-content: center;
	justify-content: space-between;
}
.Header .header-icon .icon-list{
margin-right: 25px;
}

.errorMsg {
  color: #cc0000;
}

.sucessMsg {
  color: #6B8E23;
  margin-bottom: 10px;
}
.nav-bar ul ,.header-icon{
	margin: 0;
	list-style: none;
}
.header-icon  li a svg{
	color: #fff;
}
.show-bar{
    left: 0%!important;
    transition: 0.5s;
}
.right-box video{
    height: 100%;
}
.nav-bar ul li:hover{
    background-color: #252525;
}
.nav-bar ul li:hover a{
    color: #d46630;
}
.category .mega-menu .tas1 .tas a:hover{
    transform:translate(10px,0px);
    color: #d46630;
    transition: 0.5s;
}
.lalas-map{
    width:100%;
    height: 400px;
}
.testimonial-section .slick-slider .slick-dots{
    display: none!important;
}
#video_player{
    outline: none;
}
/*.left-box{
    position: relative;
}
.left-box:before{
    content:"";
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 4px;
    background-color: #fff;

}*/
.nav-bar ul li{
    padding: 35px 0px;
    position: relative;
}
.nav-bar ul li:hover{
    background-color: 
}
.nav-bar ul li a{
	color: #fff;
    display: inline-block;
    font-family: Oswald;
    font-size: 14px;
    font-style: normal;
    padding: 5px 20px;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
    line-height: 15px;
    text-decoration: none;
}
.nav-bar ul li:nth-child(2),.nav-bar ul li:nth-child(3){
	position: relative;
}
.nav-bar ul li:nth-child(2):before,.nav-bar ul li:nth-child(3):before{
	content:"";
	background-image: url(../images/angle-down-solid.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 15px;
	height: 15px;
	position: absolute;
	right: calc(0% + 5px);
	top:calc(50% - 7.5px);
	color: transparent;
	
}
.footer-top{
	background-color: #212121;
	padding: 50px 0px;
}
.footer-bottom{
	background-color: #161616;
	padding: 30px 0px;
}
.footer-top .wg-title{
	color: #ffffff;
    font-size: 15px;
    margin-bottom: 9px;
    text-transform: uppercase;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    line-height: 29px;
    opacity: 1;
    transition: opacity 0.24s ease-in-out 0s;
    visibility: visible;
}
.footer-top ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.first-footer .company,.first-footer .company p{
	font-weight: 500;
    color: #ddd;
    font-size: 15px;
}
.first-footer ul li a{
	transition: all 0.4s ease 0s;
	    color: #ddd;
	        text-decoration: none;
	        font-size: 12px;
	        line-height: 20px;
}
.textwidget ul li .footer-first-icon{
    border: 1px solid #727272;
    height: 33px;
    width: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 15px;
}
.textwidget ul li .footer-first-icon svg{
	font-size: 15px;
	color: #fff;
}
.textwidget ul li{
	display: flex;
	align-items:  center;
	margin-bottom: 10px;

}
.textwidget ul li p{
	flex: 1;
}
.textwidget ul li p, .textwidget ul li .footer-no{
	transition: all 0.4s ease 0s;
    color: #ddd;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
}
.newsletter form{
	display: flex;
	background-color: #121212;
	border-radius: 30px;
	margin-bottom: 40px;

}
.newsletter p{
	margin-bottom: 0;
}
.newsletter form input{
	background-color:transparent;
	width:100%;
	height: 100%;
	border:none;
	padding: 0 15px;
}
.newsletter input[type="submit"]{
	background: #494949 none repeat scroll 0 0 padding-box;
    border-radius: 0 30px 30px 0;
    color: #ffffff;
    font-size: 12px;
    line-height: 35px;
    text-transform: uppercase;
}
.newsletter form input::placeholder{
	color: #494949;
	font-size: 12px;
}
.socials{
	display: flex;
}
.socials li a span{
	border: 1px solid #727272;
    height: 33px;
    width: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 15px;
}
.socials li a span svg{
	font-size:15px;
	color: #fff;
}
.foot-icon ul {
	list-style: none;
	display: flex;
	margin: 0;
	align-items: center;
	justify-content: space-around;
}
.footer-address address{
	transition: all 0.4s ease 0s;
    color: #ddd;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0px;
}
address a{
	transition: all 0.4s ease 0s;
    color: #ce9634;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
}
.foot-icon ul li {
	float: right;
}
.header-icon{
    padding: 35px 0px;
}
.header-icon li:nth-child(3){
	position: relative;
}
.header-icon li:nth-child(3) span{
	position: absolute;
	background-color: #fff;
	color: #000;
	font-size: 10px;
	display: inline-block;
	padding: 0 5px;
	right:-8px;
	z-index: 23;
    line-height:14px;
	border-radius: 50%;
}
.contact-img-area{
	position: relative;
	background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
	min-height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.contact-img-area:before{
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-image: url("../images/bg-pagetitle.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	opacity: 0.6;
	right: 0;
	top: 0;
}
.contact-img-area .page-title{
	margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #fff;
    font-family: Oswald;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    line-height: 60px;
    opacity: 1;
}
.text-center .con-text p a{
	display: inline-block;
	color: #fff;
	font-size: 14px;
	padding-right: 30px;
	position: relative;
}
.text-center .con-text p a:before{
	content:"";
	background-image: url(../images/angle-down-solid.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 15px;
	height: 15px;
	position: absolute;
	right: 10%;
	top:calc(50% - 7.5px);
	color: transparent;
	transform: rotate(-90deg);
}
.text-center .con-text p{
	color: #e85e00;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    margin: 5px 0 0;
    opacity: 1;
    transition: opacity 0.24s ease-in-out 0s;
    visibility: visible;
}
.design-area{
	padding:50px 0px;
}
.about{
    margin-top: 20px;
}
#register form label{
    color: #666;
    text-transform: capitalize;
}
#register form button{
    background-color: #d46523;
    border: 1px solid #d46523;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    line-height: 1;
    margin-top: 10px;
    outline: medium none;
    padding: 13px 45px;
    text-align: center;
    text-transform: uppercase;
    width: initial;
    transition: all 0.4s ease 0s;
    float: right;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#register form textarea{
    display: block;
    height: 120px;
    border: 1px solid #ced4da;
    padding: 5px 15px;
    width: 100%;
    border-radius: 6px;
}
#main-registration-container{
    width: 100%;
}
.design-area .about-title h1{
	font-size: 30px;
    font-weight: bold;
    color: #373737;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 14px;
}
.design-area p{
	font-size: 16px !important;
    font-weight: normal;
    line-height: 26px;
    text-align: justify;
    color: #565656;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.about h1{
	font-size: 30px;
    font-weight: bold;
    color: #373737;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 14px;
}
.contctinfo h1{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    color: #545454;
    margin-bottom: 5px;
}
.contctinfo h2{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    color: #d4651f;
}
.contctinfo ul {
	padding:0;
}
.contctinfo ul li{
	display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.contctinfo ul li .footer-first-icon{
	 border: 1px solid #727272;
    height: 33px;
    width: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 15px;
}
.contctinfo ul li .footer-first-icon svg{
	color: #727272;
}
.address-foot p{
	margin: 0;
	color: #747474;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px!important;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
}
.contctinfo ul li .footer-no,.contctinfo ul li .footer-no a{
	color: #747474;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px!important;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
}
.design-area form,.design-area .all-contact{
	width: 100%;
}
.design-area .all-contact .di-na label{
	color: #747474;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px!important;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 3px;
} 

.design-area .all-contact .di-na textarea{
	height: 140px;
}
.last-cart-con {
	text-align: right;
}
.last-cart-con .wpcf7{
	    background-color: #d46523;
    border: 1px solid #d46523;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    line-height: 2px;
    margin-top: 20px;
    outline: medium none;
    padding: 20px 45px;
    text-align: center;
    text-transform: uppercase;
    width: initial;
    transition: all 0.4s ease 0s;
    font-family: Arial, Helvetica, sans-serif;
}
.mega-menu .tas1,.mega-menu .tas4{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.mega-menu .tas4{
	margin-top: 30px;
}
.mega-menu .tas1 .tas .hedding-border a{
		border-top: none;
		color: #474747;
	    text-transform: uppercase;
	    font-weight: 400;
	    font-family: Oswald;
	    font-size: 14px;
	    font-style: normal;
	    text-decoration: none;
}
.category{
	padding: 30px 0px;
	background: #fff none repeat scroll 0 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    left: 0;
    opacity:0;
    position: fixed;
    top: calc(0% + 97px);
    width: 100%;
    z-index: -1;
    transform: scaleY(0.8);
}
.sub-category{
    transition: 0.5s;
    transform: scaleY(1);
    z-index: 23;
    opacity: 1;
}
.mega-menu .tas1 .tas a{
	border-top: 1px solid rgba(170, 170, 170, 0.2);
    color: #747474;
    display: block;
    font-family: inherit;
    font-size: 13px;
    line-height: 38px;
    padding: 0 0 0 0px;
    text-transform: inherit;
    text-decoration: none;
}
.nav-bar ul li:nth-child(2) a:hover  .nav-bar{
	display: none;
	
}
.slider{
    background-image: url(../images/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider h1,.slider1 h1,.slider2 h1{
    font-family: Oswald;
    font-weight: 600;
    font-size: 60px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 14px;
}
.slider .banner-text,.slider1 .banner-text,.slider2 .banner-text{
    font-size: 33px;
    color: #dddddd;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.slider a,.slider1 a,.slider2 a{
        padding: 8px 40px;
    background: none;
    border: solid 2px #fff;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    border-radius: 52px;
    outline: none;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    white-space: nowrap;
    line-height: 1.5;
    text-decoration: none;
}
.slider .banner-subtext,.slider1 .banner-subtext,.slider2 .banner-subtext{
    font-size: 20px;
    font-weight: 400;
    color: #dddddd;
    text-transform: uppercase;
    letter-spacing: 7px;
    line-height: 28px;
    margin: 0 auto 60px auto;
}

.slider1{
    background-image: url(../images/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider2{
    background-image: url(../images/img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.inner-slider{
    text-align: center;
}
.Home .slick-slider .slick-dots{
    bottom: 10px;
}
.App .Home .slick-slider .slick-dots li button{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 12px;
    padding: 0;
    height: 12px;
    cursor: pointer;
    color: #fff;
    border: 2px solid #fff;
    outline: none;
    background: transparent;
    border-radius: 50%;
} 
.App .Home .slick-slider .slick-dots li button:before{
    font-family: 'slick';
    font-size: 6px;
    line-height: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    content: '•';
    text-align: center;
    opacity: 1!important;
    color: transparent!important;
    -webkit-font-smoothing: antialiased;
}
.App .Home .slick-slider .slick-dots .slick-active button{
    border:2px solid #ebaa00;
}
.App .Home .slick-slider .slick-dots .slick-active button:before{
    background-color: #ebaa00;
    border-radius: 50%;
}
.App .Home .slick-slider .slick-prev{
    background-color: #252525!important;
    left: 5px;
    width: 40px;
    height: 40px;
    z-index: 34;
}
.App .Home .slick-slider .slick-next{
    background-color: #252525!important;
    right: 5px;
    width: 40px;
    height: 40px;
}
.App .Home .slick-slider .slick-next:before{
    display: none;
}
.App .Home .slick-slider .slick-next:after{
    content:"";
    position: absolute;
    background-image:url(../images/angle-down-solid.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 10px;
    height: 10px;
    top:  calc(50% - 5px);
    right: calc(50% - 5px);
    transform: rotate(-90deg);


}
.App .Home .slick-slider .slick-prev:before{
    display: none;
}
.App .Home .slick-slider .slick-prev:after{
    content:"";
    position: absolute;
    background-image:url(../images/angle-down-solid.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 10px;
    height: 10px;
    top:  calc(50% - 5px);
    right: calc(50% - 5px);
    transform: rotate(90deg);
    

}
.Proslider{
    text-align: center;


}
.App .Home .product-slider{
    padding: 50px 0px 100px 0px;
    background-color: #f4f4f4;
}
.Proslider img{
    border-radius: 50%;
    width: 100%;
}
.App .Home .product-slider .slick-slider ul{
    bottom: -60px;
    height: 30px;
    width: 70px;
    overflow: hidden;
    left: calc(50% - 35px);
}
.App .Home .product-slider .slick-slider button{
    background-color: #fff!important;
    border:1px solid #252525;
    border-radius: 50%;
    opacity: 0.8;

}
.App .Home .product-slider .slick-slider button:after{
    color: #252525;
}

.App .Home .product-slider .slick-slider .slick-next:before{
    display: none;
}
.App .Home .product-slider .slick-slider .slick-next:after{
    content:"";
    position: absolute;
    background-image:url(../images/angle-down-solid1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 10px;
    height: 10px;
    top:  calc(50% - 5px);
    right: calc(50% - 5px);
    transform: rotate(-90deg);


}
.App .Home .product-slider .slick-slider .slick-prev:before{
    display: none;
}
.App .Home .product-slider .slick-slider .slick-prev:after{
    content:"";
    position: absolute;
    background-image:url(../images/angle-down-solid1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 10px;
    height: 10px;
    top:  calc(50% - 5px);
    right: calc(50% - 5px);
     transform: rotate(90deg);
}
.product-tile{
    text-align: center;
    
}
.product-slider .slick-slider{
    margin-top: 30px;
}
.product-tile h2{
    color: #373737;
    font-family: Oswald;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin-bottom:5px;
    text-transform: uppercase;
}
.App .Home .product-slider  a{
   font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: none;
    color: #373737;
    display: inline-block;
    padding-top: 20px;
    text-transform: capitalize;
    transition: 0.5s ease-in-out;
    text-decoration: none;
}
.App .Home .product-slider .slick-slider .slick-dots button:before{
    border-radius: 50%;
    background-color:#bdc5c3;
    }
.App .Home .product-slider .slick-slider .slick-dots .slick-active button:before{
    background-color: #859791;
}
.latest-content{
    background-color: #f4f4f4;
    padding: 30px 0px;
}
.latest-title{
    text-align: center;
}
.latest-slider a{
    display: inline-block;
    margin: 15px 0px;
}


.lalas-return-content{
    text-align: right;
}
.lalas-return-content h4{
    font-size: 40px;
    line-height: 36px;
    color: #373737;
    font-weight: 500;
    text-transform: capitalize;
}
.lalas-return-content p{
    color: #373737;
    margin: 20px 0px;
    font-size: 16px;
    opacity: .8;
}
.lalas-return-content a{
        display: inline-block;
    margin-top: 20px;
    padding: 14px 40px;
    font-size: 16px;
    border-radius: 45px;
    line-height: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: white !important;
    background: #d4651f !important;
}
.btn-link2{
    background-color: #e85e00;
    text-decoration: none;
}
.lala-return{
    padding: 50px 0px;
}
.lala-return img{
    border:1px solid #e5e5e5;
}
.shawls-section{
    display: flex;
     
}
.shawls-section h4{
    font-size: 40px;
line-height: 36px;
color: #ffffff;
font-weight: 800;
font-family: "Oswald";
filter: drop-shadow(2.5px 4.33px 2.5px rgba(0,0,0,0.3));
text-transform: capitalize;
}
.left-content-1,.left-content-2,.left-content-3{
    position: relative;
}
.left-content-1 h4{
    position: absolute;
    left: 50px;
    bottom: 80px;
}
.left-content-2 div p,.left-content-3 div p{
    font-size: 16px;
line-height: 22px;
color: #ffffff;
margin-top: 10px;
}
.left-content-2 div{
    position: absolute;
    text-align: left;
    width: 200px;
    top: 20px;
    left: 40px;
}
.left-content-3 div{
    width: 200px;
    position: absolute;
    top: calc(50% - 45px);
    left: 40px;
}
.left-content-3 div h4 span{
    color: #ff8502;
}
.product-section{
    padding-top: 30px;
    padding-bottom: 10px;
}
.product-box p{
    font-size: 16px;
line-height: 36px;
color: #373737;
}
.product-box a{
    font-size: 16px;
line-height: 36px;
color: #b0803c;
}
.product-box{
    margin-top: 30px;
}
.inner-product p{
    color: #373737;
    font-size: 16px;
    line-height: 17px;
    text-transform: none;
    transition: all 0.4s ease 0s;
    font-weight: 400;
}
.inner-product{
    text-align: center;
    position: relative;
}
.inner-product:hover .quick-view{
    opacity: 1;
    transform:translateX(-50%) translateY(-50%) scale(1);
    transition: all 0.4s ease 0s;
}
.product-section{
    padding: 50px 0px;
}
.inner-product .price{
    color: #747474;
    font-size: 16px;
    line-height: 12px;
    display: inline-block;
    margin: 10px 0px 20px 0px;
    
    text-decoration: none;
}
.inner-product .quick-view{
    background: #d4651f;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    left: 50%;
    padding: 0px 20px;
    position: absolute;
    text-align: center;
    top: 42%;
    opacity: 0;
    text-decoration: none;
    transform: translateX(-50%) translateY(-50%) scale(0.6);
    
}
.lalas-video{
    display: flex;
    background-color: #e85e00;
}
.left-box{
    text-align: right;
    padding: 0 50px;
    width: 50%;
    background-color: #e85e00;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.left-box div p {
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin: 10px 0px;
}
.left-box div h3{
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
    font-weight: 500;
}
.latest-title p{
    font-size: 16px;
    line-height: 36px;
    color: #373737;
    font-family: "Arial";
}
.customer-box{
    padding-top: 30px;
}
.upper-box{
    background-color: #f0efef;
    padding: 20px;
    border-radius: 10px;
}
.upper-box img{
    width: 30px;
    height: 30px;
}
.upper-box p{
    font-size: 16px;
    line-height: 24px;
    color: #373737;
    font-family: "Arial";
    padding-top: 10px;
}
.down-box{
    padding: 20px 0px;
    display: block;
}
.down-box p:first-child{
    padding: 10px;
    display: inline-block;
    border: 1px solid #eee;
    border-radius: 50%;
}
.down-box p:last-child a{
    font-size: 16px;
    display: inline-block;
    line-height: 24px;
    color: #373737;
    font-family: "Arial";
    padding-top: 5px;

}
.customer-box .latest-title{
    margin-bottom: 30px;
}
.btn-link3{
    background-color: #ab1c26;
    border: none;
}
.explore{
    background-image: url(../images/bg_menu2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
    display: flex;
    align-items: center;
}
.explore p {
    font-size: 18px;
line-height: 24px;
color: #ffffff;
}
.explore h2{
    color: #ffffff;
}
.inner-explore{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-explore div h2{
    font-size: 40px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    font-family: Oswald;
    text-align: center;
}
.product-tile p{
    color: #747474;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 10px;
}
.inner-explore div a{
    font-size: 16px;
    border-radius: 45px;
    line-height: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background-color: #d4651f;
    display: inline-block;
    padding: 14px 40px;
    text-decoration: none!important;
}
.inner-explore div a:hover{
    color: #fff;
}
.inner-explore div{
    background-color: rgba(0,0,0,0.7);
    display: inline-block;
    padding: 50px;
    text-align: center;
}
.inner-explore div p{
    line-height: 24px;
    width: 80%;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin:auto;
    padding: 20px 0px;
}
.lalas-box{
    padding: 50px 0px;
    background-color: #f6f2eb;
}
.lalas-box .latest-title{
    margin-bottom: 30px;
}
h4{
        font-size: 40px;
    color: #373737;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 900;
}
.right-box{
    width: 50%;
}
.nav-bar-icon{
        display: none;
    }
    .right-box img{
        width: 100%;
    }
    .left-content-1 img,.left-content-2 img,.left-content-3 img{
        width: 100%;
    }
    .inner-blog{
        box-shadow: 0 15px 18px rgba(0,0,0,0.05);
        background-color: #fff;
    }
    .inner-blog .blog-content{
        padding: 30px;
    }
    .inner-blog .blog-content span{

    color: #a6a6a6;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform:uppercase;
    display: inline-block;
    margin-bottom: 15px;
    }
    .inner-blog .blog-content .up-text{
        margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 48px;
    line-height: 1.2em;
    font-weight: bold;
    font-size: 18px;
    color: #636363;
    }
    .blog-link{
        text-decoration: none!important;
    }
     .inner-blog .blog-content .down-text{
      margin-bottom: 0;
    font-size: 15px;
    opacity: 0.65;
    color: #000;
}

    .inner-blog img{
        width: 100%;
        height: 308px;
    }
    .blog-content1{
        position: relative;
    }
    .blog-content1:hover .blog-change{
        opacity: 0.3;
    }
    .blog-content1 .blog-change{
        position: absolute;
        width: 100%;
        height: 98%;
        left: 0;
        top: 0;
        z-index: 2;
        background: #d4651f;
        transition: 0.3s;
        opacity: 0;
        }
        .Proslider1 .left-test-box .inner-testimonial{
            text-align: center!important;
            padding:40px 35px;
            background-color: #f0efef;
            border-radius: 10px;
        }
        .Proslider1 .left-test-box .inner-testimonial img{
            display: inline-block!important;

        }
        .Proslider1 .left-test-box .inner-testimonial p{
        color: #373737 !important;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 24px;
}
.Proslider1 .left-test-box .test-content img{
    border-radius: 50%;
    display: inline-block;
}
.Proslider1 .left-test-box .test-content span{
    display: block;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
    font-weight: 600;
    font-style: italic;
    color: #373737;
}
.Proslider1 .left-test-box .test-content p{
        color: #383535;
        text-transform: capitalize;
}
.Proslider1 .left-test-box .test-content{
    text-align: center!important;
}
.testimonial-section{
    padding:50px 0px;
}
.App .Home .testimonial-section .slick-slider ul{
    bottom: -60px;
    height: 30px;
    width: 70px;
    overflow: hidden;
    left: calc(50% - 35px);
}
.App .Home .testimonial-section .slick-slider button{
    background-color: #fff!important;
    border:1px solid #252525;
    border-radius: 50%;
    opacity: 0.8;
    transform: translate(0, -180%);

}
.App .Home .testimonial-section .slick-slider button:after{
    color: #252525;
}

.App .Home .testimonial-section .slick-slider .slick-next:before{
    display: none;
}
.App .Home .testimonial-section .slick-slider .slick-next:after{
    content:"";
    position: absolute;
    background-image:url(../images/angle-down-solid1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 10px;
    height: 10px;
    top:  calc(50% - 5px);
    right: calc(50% - 5px);
    transform: rotate(-90deg);


}
.shawls-section .inner-shawls .left-content-1,.shawls-section .inner-shawls .left-content-2,.shawls-section .inner-shawls .left-content-3{
    overflow: hidden;
    height: 255px;
}
.shawls-section .inner-shawls img{
    height: 255px;
}
.left-content-1:hover img,.left-content-2:hover img,.left-content-3:hover img{
    transform: scale(1.3);
    transition: 0.4s;
}
.inner-proslider{
    overflow: hidden;
    border-radius: 50%;
}
.inner-proslider:hover img{
    transform: scale(1.3);
    transition: 0.4s;
}

.App .Home .testimonial-section .slick-slider .slick-prev:before{
    display: none;
}
.App .Home .testimonial-section .slick-slider .slick-prev:after{
   content:"";
    position: absolute;
    background-image:url(../images/angle-down-solid1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 10px;
    height: 10px;
    top:  calc(50% - 5px);
    right: calc(50% - 5px);
    transform: rotate(90deg);
}

.lalas-video .left-box h3{
            font-size: 30px;
            font-family: Oswald;
    font-weight: 500;
    line-height: 1.1;
} 
.lalas-video .left-box p{
    font-size: 16px;
    color: #fff;
    opacity: .8;
}
.lalas-video .left-box a{
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    padding: 14px 40px;
    font-size: 16px;
    border-radius: 45px;
    line-height: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none!important;
    
}   
.footer-column .inner-footer{
    display: flex;
    justify-content: space-between;
} 
.header-right-box ul .nav-icon{
    display: none;
}
.nav-bar-list{
    display: flex;
    justify-content: space-between;
}
/*media query*/

@media screen and (max-width: 1200px){
    .navlist li{
        padding: 0 10px;
    }
    .nav-bar ul li a{
        font-size: 12px;
    }
    .footer-column .inner-footer .footy{
        width:25%;
        padding: 0 10px;
    }

}
@media screen and (max-width: 992px){
    .navlist li{
        padding: 0 5px;
    }
    .header-icon ul li a{
        font-size: 9px;
    }
    .footer-column .inner-footer{
        flex-direction: column;
    }
    .footer-column .inner-footer .footy{
        width: 100%;
        margin-bottom: 15px;
    }
    .newsletter form p:nth-child(1){
        width: 85%;

    }
    .newsletter{
        width: 60%;
    }
    .nav-bar ul{
        margin: 0 auto;
    }
      .nav-bar ul li a{
        padding: 0 10px;
    }
    .nav-bar ul li:nth-child(2):before, .nav-bar ul li:nth-child(3):before {
        width: 10px;
        height: 10px;
        right: calc(0% + 0px);
    }

}
@media screen and (max-width: 768px){
    .newsletter{
        width: 85%;
    }

    .header-right-box ul .nav-icon{
        display: block;
        margin-left: 25px;
    }
    .header-right-box ul li a{
        font-size: 15px;
    }
    .nav-bar {
        width: 2%;
    }
    .nav-bar ul li:nth-child(2):before, .nav-bar ul li:nth-child(3):before {
        width: 15px;
        height: 15px;
        right: calc(0% + 35px);
    }
    .nav-bar .nav-bar-list{
        position: fixed;
        width: 55%;
        height: 100vh;
        z-index: 9934;
        top: 0;
        left: -55%;
        flex-direction: column;
        justify-content: flex-start;
        padding: 15px 0px;
        background-color: rgb(0,0,0,0.9);
    }
    .nav-bar .nav-bar-list li a{
        font-size: 15px;
    }
    .nav-bar .nav-bar-list li{
        padding:10px;
        margin-bottom: 15px;
    }
    .Header .logo-box,.Header .header-right-box{
        width: 45%;
    }
    .Header .header-contain{
        max-width: unset!important;
    }
    .navlist{
    position: fixed;
    top: 0;
    left: -50%;
    display: block;
    height: 100vh;
    width: 50%;
    z-index: 3;
    background-color: rgba(0,0,0,0.9);
    }
    .navlist li{
        padding-bottom: 20px;
        position: relative;
    }
    .navlist li:before{
        content: "";
        width: 80%;
        height: 2px;
        position: absolute;
        bottom: 10px;
        left: calc(50% - 40%);
        background-color: #fff;

    }
    .navlist li a{
        font-size: 16px;
    }
    .left-box div h3{
        font-size: 16px;
        line-height: 22px;
    }
    .left-box div p{
        font-size: 13px;
    }


    
}
@media screen and (max-width: 767px){
    .lalas-video{
        flex-direction: column;
    }
    .design-area{
        padding: 50px 20px;
    }
    .lalas-slider .slick-slider .slick-list{
        height: 320px;
    }
    .footer-bottom .footer-address{
        text-align: center;
    }
    .footer-bottom  .foot-icon{
        padding-top:  15px;
    }
    .lalas-video .left-box{
        width: 100%;
        padding: 30px;
        text-align: center;
    }
    .footer-step{
        flex-direction: column;
        padding: 30px 15px;
    }
    .footer-step .first-line{
        width: 100%;
    }
    .footer-content{
        text-align: left;
    }
    .right-footer-content{
        text-align: left;
        margin-top: 20px;
    }
    .right-footer-content .letter{
        margin-bottom: 20px;
    }
    .copy-content{
        flex-direction: column;
    }
    .copy-content div{
        padding: 5px 0px;
    }
    .right-box{
        width: 100%;
    }
    .shawls-section{
        flex-direction: column;
    }
    .lalas-return-content{
        text-align: left;
        padding-bottom: 30px;
    }
    .banner h1{
        font-size: 36px;
        line-height: 60px;
    }
    .banner-off{
        font-size: 17px;
    }
    .banner{
        min-height: 350px;
    }
    .right-header{
        display: none;
    }
    .inner-explore div p{
        width: 100%;
        padding-bottom: 20px;
    }
    .nav-bar-icon{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .nav-bar-icon svg{
        font-size: 30px;
        color: #ffffff;
    }
    .mystyle{
        left: 0!important;
        transition: 0.4s ;
    }
    .inner-product img{
        width:100%;
    }
    .left-test-box{
        margin-bottom: 20px;
    }
    .test-content{
        margin-top: 10px;
    }
    .inner-blog{
        margin-bottom: 20px;
    }
    .slider .banner-text{
        font-size: 20px;
    }
    .slider h1{
        font-size: 33px;
    }
    .slider .banner-subtext{
        font-size: 13px;
    }
    .lalas-slider,.slider{
        min-height: 320px!important;
        overflow: hidden;
    }
    .inner-explore div h2 {
        font-size: 33px;
        line-height: 40px;
    }

}